@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(3600deg, lightgray 0%, lightgray 35%, grey 100%);

}
.wrapper {
    height: 100vh;
    width: 100vw;

}
.flexcont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
