@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: "Poppins", sans-serif;
  background-color: lightgrey;
}

.flexcont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

}

.flexitem1 {
}

.flexitem2 {

}

/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .row {
    max-width: 100%;
  }
}

.container {
  justify-content: center;
} */


